@import "mixin";

//* NAVBAR *//

//* NAVBAR UNDERLINE  *//

ul a:hover {
  color: $txt-color-2 !important;
}

li > a:after {
  content: "";
  display: block;
  height: 1.5px;
  background: $secondary-color;
  transform: scaleX(0);
  transition: transform 0.3s;
}
li > a:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s;
}
.active {
  color: $txt-color-2 !important;
}

//* NAVBAR LOGO  *//

.logo {
  width: 400px;
}

@media (max-width: 576px) {
  .logo {
    width: 200px;
  }

  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100vh;
    font-size: $ft-size-lg-nm;
    background-color: $bg-color-dark;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 1.5rem;
  }

  .logo {
    width: 250px;
  }

  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 7.5rem;
    font-size: $ft-size-lg-hd;
    height: 100vh;
  }
}

//* NAVBAR TOGGLER  *//

.navbar-toggler {
  background-color: $primary-color;
}

//* HERO SECTION  *//

.bg-hero {
  @include hero-section-img;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-txt {
  font-size: 5rem;
  text-align: center;
  color: white;
  font-weight: 300;
}

@media (max-width: 576px) {
  .hero-txt {
    font-size: 4rem;
  }
}

/* //* MOBILE NAVBAR -----------------------------------*
@media (max-width: 576px) {
  .menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 2px;
    cursor: pointer;
    @include transition-ease;

    &-burger {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background: set-text-color($primary-color);
      @include transition-ease;

      &::before {
        content: "";
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background: set-text-color($primary-color);
        @include transition-ease;
      }

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        width: 20px;
        height: 3px;
        background: set-text-color($primary-color);
        @include transition-ease;
      }

      &.open {
        transform: rotate(720deg);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }
        &::after {
          width: 28px;
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }
} */
