@import "mixin";

/* ? Header Mobil */

/* Navbar Mobil */

//* ? Hero Section Mobil *//

//* NAVBAR *//
.logo {
  width: 300px;
}

a:hover {
  color: green;
}

.navbar-toggler {
  background-color: $secondary-color;
}

.bg-hero {
  @include hero-section-img;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-txt {
  font-size: 5rem;
  text-align: center;
  color: white;
  font-weight: 200;
}

//* ? Hero Section  *//
