@import "mixin";

/* ? Header Mobil */

/* Navbar Mobil */

//* ? Hero Section Mobil *//

//* NAVBAR *//

//* NAVBAR UNDERLINE  *//

ul a:hover {
  color: $txt-color-2 !important;
}

li > a:after {
  content: "";
  display: block;
  height: 1.5px;
  background: $secondary-color;
  transform: scaleX(0);
  transition: transform 0.3s;
}
li > a:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s;
}
.active {
  color: $txt-color-2 !important;
}

//* NAVBAR LOGO  *//

.logo {
  width: 400px;
}

@media (max-width: 576px) {
  .logo {
    width: 200px;
  }
}

//* HERO SECTION  *//

.bg-hero {
  @include hero-section-img;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-txt {
  font-size: 5rem;
  text-align: center;
  color: white;
  font-weight: 200;
}

@media (max-width: 576px) {
  .hero-txt {
    font-size: 4rem;
  }
}
