@import "mixin";

//* ? HOME Section -------------------------------------> *//

//* ? CARDS (Gastro / Shop / Hotel / Events) ------------------------------------------> *//

.cards {
  position: relative;

  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }

  h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 200;
    text-decoration: none;
    color: $txt-color-2;
    font-size: $ft-size-lg-hd;
  }

  &:hover {
    opacity: 0.4;

    h5 {
      color: black;
    }
  }
}

//* JUMBO SECTION  -------------------------------------------------------->  */

//* JUMBO BACKGROUND  -----------------------------------*//

.jumbo {
  @include bg-jumbo-1;
  padding: 80px;
  color: $txt-color-2;
}

//* JUMBO LEFT  --------------------------*//

.jumbo-1 {
  display: flex;
  justify-content: start;

  .jumbo-border {
    background-color: $bg-color-dark;
    width: 45rem;

    .my-btn-petrol {
      background-color: $btn-bg-petrol;
      color: #fff;

      &:hover {
        background-color: red;
      }
    }
  }
}

//* JUMBO RIGHT  --------------------------*//

.jumbo-2 {
  display: flex;
  justify-content: end;
  color: $txt-color-2;

  .jumbo-border {
    background-color: $bg-color-dark;
    width: 45rem;

    .my-btn-petrol {
      background-color: $btn-bg-petrol;
      color: #fff;

      &:hover {
        background-color: red;
      }
    }
  }
}

@media (max-width: 576px) {
  .wordbreak {
    word-break: break-all;
  }
}

//* ABOUT US (Wir sind ...)  -------------------------------------------->  */
.we-are-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $bg-color-light;

  .we-are-hd {
    @include black-box;
  }

  @media (max-width: 576px) {
    .we-are-hd {
      line-height: 2;
      width: 20rem;
      height: 5rem;
      border: 10px solid $txt-color-1;
      text-transform: uppercase;

      span {
        letter-spacing: 15px;
        font-size: $ft-size-lg-nm;
      }
    }
    .we-are-p p {
      width: 80%;
      text-align: center;
      padding-left: 5rem;
    }
  }

  p {
    width: 900px;
  }

  span {
    letter-spacing: 15px;
    font-size: $ft-size-lg-nm;
  }

  .portfolio {
    display: flex;
    justify-content: center;
    img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }
  }
}

@media (max-width: 576px) {
  .wordbreak {
    word-break: break-all;
  }
}

//* CONTACT SECTION -------------------------------------------->  */

.bg-contact {
  @include bg-contact-img;
}

//* PRICING SECTION -------------------------------------------->  */

//* FOOTER -------------------------------------------->  */

.social-icons a {
  color: $txt-color-2;

  &:hover {
    color: $secondary-color;
  }
}
