@import "mixin";

//* ? Main Home Section -------------------------------------> *//
//* ? DEINE LOCATION (Card Section) ------------------------------------------> *//
.card-flex {
  display: flex;
  justify-content: space-around;
}
.card {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-title {
  border: 1px solid red;
  font-size: 5rem;
  font-weight: 200;
  text-align: center;
}

.card_1 {
  @include card-bg;
  background: $card-gradient,
    url(../images/card-img/people-drinking-dinner-prost.jpg);
  background-size: cover;
}

.card_2 {
  @include card-bg;
  background: $card-gradient,
    url(../images/card-img/shopping-cart-1024x681.jpeg);
  background-size: cover;
}
.card_3 {
  @include card-bg;
  background: $card-gradient, url(../images/card-img/reception_bell.png);
  background-size: cover;
}
.card_4 {
  @include card-bg;
  background: $card-gradient, url(../images/card-img/party_mood.jpg);
  background-size: cover;
}

//* DEIN RADIO (Zick Zack - Info -------------------------------------------------------->  */

.d-location-d-radio {
  h2 {
    text-transform: uppercase;
  }
}

.dein-radio {
  background-color: $bg-color-dark;
  height: 50vh;
  padding: 100px;

  h2,
  p {
    color: $txt-color-2;
  }
}

.dr-right {
  background-color: $bg-color-light;
  height: 50vh;
  padding: 100px;
  h2,
  p {
    color: $txt-color-1;
  }
}

//* ABOUT US -------------------------------------------->  */
.we-are-wrapper {
  @include center-div-txt;
  height: 50vh;
  background-color: $bg-color-light;
  .we-are {
    width: 20rem;
    height: 5rem;
    border: 10px solid $txt-color-1;
  }
}

.bg-contact {
  @include bg-contact-img;
}

//* PRICING SECTION -------------------------------------------->  */
