//* Hero Section *//

@mixin center-div-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}

@mixin hero-section-img {
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($bg-color-light, 0.3)
    ),
    url(../images/bg-img/dj_photo_by_Laura_Balbarde.jpeg) center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin bg-jumbo-1 {
  height: 100%;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($bg-color-dark, 0.3)
    ),
    url(../images/bg-img/Tablet_Musik_600px.jpeg) center;
  background-size: cover;
  background-attachment: fixed;
}

@mixin bg-jumbo-2 {
  height: 70vh;
  background: linear-gradient(
      to right,
      rgba($bg-color-dark, 0.9),
      rgba($secondary-color, 0.3)
    ),
    url(../images/bg-img/kaffee-theke.jpg) center;
  background-size: cover;
  background-attachment: fixed;
}

//* Card Section *//

/* @mixin card-bg {
  height: 200px;
  width: 100%;
  background-size: cover;
  color: $txt-color-2;
} */

//* Timetable  *//@at-root

@mixin center-txt {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

//* Price Section *//

@mixin pricing-bg {
  height: 60vh;
}

//* Contact Form *//

@mixin bg-contact-img {
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($bg-color-light, 0.3)
    ),
    url(../images/bg-img/kaffee-theke.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Cassette Photo by Laura Balbarde from Pexels */
/* DJ Photo by Laura Balbarde from Pexels */
