//* MOBILE NAVBAR ------------------------------------- */

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

//* HERO SECTION ---------------------------------------*/

@mixin hero-section-img {
  height: 100vh;
  background: linear-gradient(
      to left,
      rgba($primary-color, 1.3),
      rgba($bg-color-light, 0.3)
    ),
    url(../images/bg-img/dj_photo_by_Laura_Balbarde.jpeg) center;
  background-size: cover;
  background-repeat: no-repeat;
}

//* DIE ALTERNATIVE ---------------------------------------*/

@mixin soundwave {
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba(#fff, 0.5)
    ),
    url(../images/icons/soundwave_colored.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

//* JUMBO - Deine Location Dein Radio ---------------------------*//

@mixin bg-jumbo-1 {
  height: 100%;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($bg-color-dark, 0.3)
    ),
    url(../images/bg-img/Tablet_Musik_600px.jpeg) center;
  background-size: cover;
  background-attachment: fixed;
}

//* LIGHT BACKGROUND SECTION (Wir sind ...) ---------------------- */

@mixin black-box {
  text-align: center;
  line-height: 2.6;
  width: 30rem;
  height: 8rem;
  border: 10px solid $txt-color-1;
  text-transform: uppercase;
  letter-spacing: 15px;
}

@mixin black-box-mixin {
  @media (max-width: 576px) {
    .we-are-hd {
      /* text-align: center; */
      line-height: 2.6;
      width: 6rem;
      height: 3rem;
      border: 10px solid $txt-color-1;
      text-transform: uppercase;
    }
    span {
      letter-spacing: 15px;
      font-size: $ft-size-lg-nm;
    }
  }
}

//* Container for often-used Stylings  ------ *//

@mixin center-div-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}

//* TIMETABLE  ---------------------------*//

//* CENTER Days & Time  */

@mixin center-txt {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

//* PRICE SECTION ------------------------*//

@mixin pricing-bg {
  height: 60vh;
}

//* CONTACT FORM ------------------------- *//

@mixin my-petrol-ptn {
  background-color: $btn-bg-petrol;
  border-radius: 40px;

  a {
    color: $txt-color-2;
  }
  &:hover {
    background-color: $btn-hover-orange;

    a:hover {
      color: $txt-color-1;
    }
  }
}

//* CONTACT FORM ------------------------- *//

@mixin bg-contact-img {
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($bg-color-light, 0.3)
    ),
    url(../images/bg-img/kaffee-theke.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Cassette Photo by Laura Balbarde from Pexels */
/* DJ Photo by Laura Balbarde from Pexels */
