.timetable {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr;
  grid-auto-flow: row;
  grid-auto-flow: column;
  background-color: $primary-color;
}

.table-time,
.table-days {
  background-color: $primary-color;
  color: #fff;
}

.table-time {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template-rows: repeat(12, 50px);
  grid-auto-flow: row;
  border-bottom: 2.5 solid white;
}

.table-days {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: $primary-color;
  color: #fff;
}

.table-imgs {
  display: grid;
  grid-template-rows: repeat(12, 50px);
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: column;
  grid-auto-flow: row;
  grid-area: 2 /2 / 10 / 10;
}

.tt-section {
  margin: 5px 0;
  padding: 15px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px repeat(12, 1fr);
  gap: 10px;
}

.center-table {
  @include center-txt;
}

.time {
  grid-area: 1/1/2/2;
}

.morning-1 {
  grid-area: 1/1/2/2;
}
.morning-2 {
  grid-area: 2/1/3/2;
}
.morning-3 {
  grid-area: 3/1/4/2;
}
.noon-1 {
  grid-area: 4/1/5/2;
}
.noon-2 {
  grid-area: 5/1/6/2;
}
.noon-3 {
  grid-area: 6/1/7/2;
}
.afternoon-1 {
  grid-area: 7/1/8/2;
}
.afternoon-2 {
  grid-area: 8/1/9/2;
}
.afternoon-3 {
  grid-area: 9/1/10/2;
}
.evening-1 {
  grid-area: 10/1/11/2;
}
.evening-2 {
  grid-area: 11/1/12/2;
}
.evening-3 {
  grid-area: 12/1/13/2;
}

.mo {
  grid-area: 1/1/2/2;
}

.tue {
  grid-area: 1/2/2/3;
}
.wed {
  grid-area: 1/3/2/4;
}
.thu {
  grid-area: 1/4/2/5;
}
.fri {
  grid-area: 1/5/2/6;
}
.sat {
  grid-area: 1/6/2/7;
}
.sun {
  grid-area: 1/7/2/8;
}

//* TIMETABLE  */

.table-imgs {
  border: 2.5px solid white;
}

.gallery-img1,
.gallery-img2,
.gallery-img3,
.gallery-img4,
.gallery-img5,
.gallery-img6,
.gallery-img7,
.gallery-img8,
.gallery-img9,
.gallery-img10,
.gallery-img11,
.gallery-img12 {
  border: 5px solid white;
  /* background-size: cover;
  background-position: center; */
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img:hover {
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes flip-in-hor-bottom {
    0% {
      transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0);
      opacity: 1;
    }
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

/* COPY */

.gallery-img1 {
  grid-area: 1/1/4/3;
}
.gallery-img2 {
  grid-area: 4/2/7/5;
}
.gallery-img3 {
  grid-area: 1/7/13/8;
}
.gallery-img4 {
  grid-area: 4/5/10/7;
}
.gallery-img5 {
  grid-area: 4/1/7/2;
}
.gallery-img6 {
  grid-area: 1/5/4/7;
}

.gallery-img7 {
  grid-area: 7/3/13/5;
}
.gallery-img8 {
  grid-area: 10/2/13/3;
}
.gallery-img9 {
  grid-area: 10/5/13/7;
}

.gallery-img10 {
  grid-area: 10/1/13/2;
}

.gallery-img11 {
  grid-area: 7/1/10/3;
}

.gallery-img12 {
  grid-area: 1/3/4/5;
}

//* TIMETABLE OFF  *//

@media (max-width: 667px) {
  .timetable-wrapper {
    display: none;
  }
}
