// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "header";
@import "mixin";
@import "home";
@import "pricing";
@import "contact";

root {
  font-size: 62.5%;
}

body {
  font-family: "Inter", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

//* FOOTER & IMPRESSUM  *//

footer {
  flex-direction: column;
  @include center-div-txt;
  color: $txt-color-2;
  height: 33.33vh;
  background-color: $bg-color-dark;
}

.impressum a {
  text-decoration: none;
  color: #fff;
}
